
.icon-camera:before { content: '\e800'; } /* '' */
.icon-linkedin-rect:before { content: '\e817'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-github-2:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-arrows-ccw:before { content: '\e805'; } /* '' */
.icon-arrows-cw-1:before { content: '\e806'; } /* '' */
.icon-html5:before { content: '\e807'; } /* '' */
.icon-cloudapp:before { content: '\e808'; } /* '' */
.icon-github:before { content: '\e809'; } /* '' */
.icon-gmail:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-vkontakte-rect:before { content: '\e801'; } /* '' */
.icon-arrows-cw-2:before { content: '\e80d'; } /* '' */
.icon-github-1:before { content: '\e80e'; } /* '' */
.icon-vkontakte-1:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-ok-circle:before { content: '\e811'; } /* '' */
.icon-cancel-circle:before { content: '\e812'; } /* '' */
.icon-plus-circle:before { content: '\e813'; } /* '' */
.icon-minus-circle:before { content: '\e814'; } /* '' */
.icon-bitbucket:before { content: '\e815'; } /* '' */
.icon-linkedin-squared:before { content: '\e816'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e80c'; } /* '' */